<div class="container mt-3">
  <h2>All our flats</h2>
  <p>All <%= Flat.count %> flats</p>
  <div class="cards">
    <% @flats.each do |flat| %>
      <%= render 'flats/card', flat: flat %>
    <% end %>
  </div>
</div>
